@font-face {
  font-family: 'Fredericka the Great';
  src: url('../../../assets/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-icon {
  width: 55px;
  height: 55px;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
  margin-left: -20px;
}

#lmsMenuImg {
  background-image: url('../../../assets/lms.png');
}
#tsMenuImg {
  background-image: url('../../../assets/toolstore.png');
}
#teleportMenuImg {
  background-image: url('../../../assets/teleportstation.png');
}
#supportMenuImg {
  background-image: url('../../../assets/supportstation.png');
}
#levelsMenuImg {
  background-image: url('../../../assets/ManicMiners_alt.png');
}

.modal-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30px !important;
  border-bottom: 2px solid var(--mm-dark-green);
}

.btn-close {
  position: absolute;
  right: 1rem;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.95);
  color: var(--mm-dark-green);
  border: 2px solid var(--mm-dark-green);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(242, 205, 0, 0.7);
}

.modal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

.modal-body {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body a {
  color: var(--mm-yellow);
  font-size: 1.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.modal-body a img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.modal-body a:hover {
  color: var(--mm-dark-green);
}
