@font-face {
  font-family: 'Fredericka the Great';
  src: url('../../assets/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-icon {
  width: 55px; /* Adjust the width as needed */
  height: 55px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  margin-right: 15px;
  margin-left: -20px;
}

#lmsMenuImg {
  background-image: url('../../assets/lms.png');
}
#tsMenuImg {
  background-image: url('../../assets/toolstore.png');
}
#teleportMenuImg {
  background-image: url('../../assets/teleportstation.png');
}
#supportMenuImg {
  background-image: url('../../assets/supportstation.png');
}

.modal-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30px !important;
}
.modal-body {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for 3D effect */
  font-family: 'Fredericka the Great', cursive; /* Lego-like font */
}
.modal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-close {
  position: absolute;
  right: 1rem; /* or however far from the right you want it */
}
